.RightSideBar {
  width: 20vw;
  height: 90vh;
  padding-top: 50px;
  text-align: center;
  font-size: 18px;
  background-color: whitesmoke;
  border-left: 3px solid rgba(81, 1, 145, 1);
  border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;

  .buttons {
    margin-top: 50px;
  }
}
